.itemList > a:hover::before {
	width: 100%;
	transition: width 0.5s;
}
.itemList > a {
	position: relative;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	font-weight: 100;
}
.itemList > a::before {
	content: '';
	width: 0px;
	height: 2px;
	position: absolute;
	background-color: white;
	top: 32px;
	left: 0;
	z-index: 100;
}
.itemList {
	min-width: 400px;
	display: flex;
	justify-content: space-between;
}

/* ------ */
.itemList2 > a:hover::before {
	width: 100%;
	transition: width 0.5s;
}
.itemList2 > a {
	position: relative;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	font-weight: 100;
}
.itemList2 > a::before {
	content: '';
	width: 0px;
	height: 2px;
	position: absolute;
	background-color: rgb(232, 90, 42);
	top: 32px;
	left: 0;
	z-index: 100;
}
.itemList2 {
	min-width: 400px;
	display: flex;
	justify-content: space-between;
}

/* icon button */
.iconWrapper {
	position: relative;
	display: inline-block;
}

.icon {
	position: relative;
	transition:
		transform 0.4s ease,
		opacity 0.4s ease;
}

.iconWhite {
	position: absolute;
	opacity: 0;
	color: white;
	transition:
		transform 0.4s ease,
		opacity 0.4s ease;
	transform: translateY(10px);
	top: 0;
	left: 0;
	right: 0;
}

.iconWrapper:hover .icon {
	transform: translateY(-10px);
	opacity: 0;
}

.iconWrapper:hover .iconWhite {
	transform: translateY(0);
	opacity: 1;
}

/* .iconWrapper {
	position: relative;
	display: inline-block;
}

.icon {
	position: relative;
	transition:
		transform 0.4s ease,
		opacity 0.4s ease;
	z-index: 1;
}

.icon::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(10px);
	opacity: 0;
	transition:
		transform 0.4s ease,
		opacity 0.4s ease;
	z-index: -1;
	color: white;
}

.iconWrapper:hover .icon {
	transform: translateY(-10px);
	opacity: 0;
}

.iconWrapper:hover .icon::before {
	transform: translateY(0);
	opacity: 1;
} */
