#register_phone {
	height: 40px;
	background-color: #f5f8fa;
}

.button-submit {
	color: #fff;
	background-color: #e7592a;
	border-color: #e7592a;
	height: 40px;
	width: 92px;
	border-radius: 3px;
}

.button-submit:hover {
	cursor: pointer;
	background: #e7592a !important;
}
