.itemList > a:hover::before {
	width: 100%;
	transition: width 0.5s;
}
.itemList > a {
	position: relative;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	font-weight: 100;
}
.itemList > a::before {
	content: '';
	width: 0px;
	height: 2px;
	position: absolute;
	background-color: white;
	top: 32px;
	left: 0;
	z-index: 100;
}
.itemList {
	min-width: 400px;
	display: flex;
	justify-content: space-between;
}
