.slider-container {
    width: 100%;
}

.slider-container .slick-slider {
    height: 80px;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.slider-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.slick-dots {
    display: none;
}