@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
	html {
		font-family: 'Proxima Nova', system-ui, sans-serif;
	}
} */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

html {
    scroll-behavior: smooth;
}